{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3> Yazılım Bilimi Bloğuna Hepiniz Hoşgeldiniz. </h3>
    <p>Bu blogda geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz.</p>
</div>

<p>

    {% if request.user.is_authenticated %}
        Giriş Yapılmış , {{request.user.username}}
    {% else %}
        Giriş yapılmamış 
    
    {% endif %}

</p>
<ul>
{% for number in numbers %}
<li>{{number}}</li>
{% endfor %}
</ul>
{% endblock %}